.forgotPassword {
    height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    a {
        position: absolute;
        top: 3rem;
        font-family: 'cabin';
        font-size: 1.8rem;
        text-decoration: none;
        color: #112f75;
        i {
            margin-right: 1rem;
        }
    }
    .formInfo {
        background-color: white;
        height: 30rem;
        width: 50rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        h1 {
            font-family: 'cabin', sans-serif;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        p {
            width: 42rem;
            margin: 2rem 0;
            text-align: center;
            font-family: "poppins", sans-serif;
            font-size: 1.2rem;
        }
        form {
            margin-top: 1rem;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            input {
                padding-left: 1rem;
                font-family: "poppins", sans-serif;
                width: 24rem;
                height: 2.6rem;
                background-color: #eee;
                border: none;
                margin-bottom: 2rem;
            }
            button {
                width: 24rem;
                height: 2.6rem;
                border: none;
                background-color: #112f75;
                color: white;
                font-family: "poppins", sans-serif;
            }
        }
    }
}